<div class ="well hoverwell thumbnail">
    <h2>{{evel?.name}}<span *ngIf="starred">*</span></h2>
    <div>{{evel?.date}}</div>
    <div [ngClass]="{green: evel?.time === '8:00 am', bold: evel?.time === '8:00 am'}"
            [ngSwitch]="evel?.time">
        Time: {{evel?.time}}
        <span *ngSwitchCase="'8:00 am'">(Early start)</span>
        <span *ngSwitchDefault>(Normal start)</span>
        <span *ngSwitchCase="'10:00 am'">(Late start)</span>

    </div>
    <div>Price: ${{evel?.price}}</div>
    <div *ngIf="evel?.location">
        <span>Address: {{evel?.location.address}}</span>
        <span class="pad-left">{{evel?.location.city}}, {{evel?.location.country}}</span>
    </div>
    <div *ngIf="evel?.onlineUrl">
        <span>Url: {{evel?.onlineUrl}}</span>
    </div>
    <button class="btn btn-primary og-margin-top" (click) = "handleClickMe()">Click me!</button>
    <button class="btn btn-primary og-margin-top" (click) = "giveStar()">Favourite</button>


</div>
